<html>
    <head>
        <title>Página de Listar Pessoas</title>
        <style>
            body{background-color: antiquewhite;}
            h1{text-align: center;}
                
        </style>
    </head>
    <body>
        <h1>Lista de Doadores</h1>
        <br>
        {% for pessoa in lista: %}
            {{ pessoa.nome }} <br>
            {{ pessoa.telefone }} <br>
            {{ pessoa.tipo_sanguineo}}<br>

            {% if session["usuario"]: %}
            <a href="/excluir_pessoa?nome={{pessoa.nome}}">Excluir</a> <br>
            <a href="/form_alterar_pessoa?nome={{pessoa.nome}}">Alterar</a>
            {% endif %}
            <br>
            <hr>
            <br>  
        {% endfor %}
    </body>

</html>