<html>
    <head>
        <title>Página de Inserir Pessoas</title>
        <style>
            body{background-color: antiquewhite;}
            h1{text-align: center;}
                
        </style>
    </head>
    <body>
        <h1>Inserir de Doador</h1>
        <br>
        <form action="/inserir_pessoas" >
            Nome: <input type=text name=nome>
            Telefone: <input type=text name=telefone>
            Tipo Sanguineo: <input type=text name=tipo_sanguineo>
            <input type=submit value=enviar>
        </form>
        

    </body>

</html>