<!DOCTYPE html>
<html>
    <head>
        <title>Formulario de Edicao de Dados</title>
        <style>
            body{background-color: antiquewhite;}
            h1{text-align: center;}    
        </style>
    </head>
    <body>
        <h1>Formulario de Edição de Dados!</h1>
        <br>
        <hr>
        <form action=/alterar_pessoa>
            Nome: <input type=text name=nome value="{{pessoa.nome}}"><br>
            Telefone: <input type=text name=telefone value="{{pessoa.telefone}}}"><br>
            Tipo Sanguineo: <input type=text name=tipo_sanguineo value="{{pessoa.tipo_sanguineo}}">
            <input type=submit value=alterar>
            <input type="hidden" name=nome_original value="{{pessoa.nome}}">
        </form>
        <hr>
    </body>
</html>