<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>Página Inicial</title>
</head>
<body>

    <a href="/listar_pessoas">LISTAR</a>
    <a href="/form_inserir_pessoas"> Inserir</a>

    {%if session["usuario"]%}
    <a href="/logout">Sair</a>
    {%else%}
    <a href="/form_login">Login</a>
    {%endif%}
    <br>
    <br>
    <h3>O QUE É DOAR SANGUE?</h3>
    <br>
    <p>Primeiramente a doação de sangue consiste na retirada de 450 ml do mesmo,por meio de uma agulha.
       Toda a coleta de sangue é feita por funcionários especializados sob supervisão de um médico ou enfermeira,
       e, todo o processo dura em média cerca de 1h.</p>
    <br>    
    <h3>POR QUE VIRAR UM DOADOR?</h3>
    <br>
       <p>O sangue é um tecido vivo que não pode ser fabricado artificialmente e é essencial á vida.Todos os dias centenas
       de acidentes acontecem e vários casos de anemia e leucemia são descobertos, e,  isso juntamente a dados de estudos recentes 
       indicam que uma em cada três pessoas irão precisar de doação de sangue em ao menos uma etapa de sua vida. Isso nos mostra o 
       quão importante pode se tornar um ato tão simples. Além disso doar sangue é um ato seguro que não provoca nenhum risco ou prejuízo a 
       saúde do doador. Você sabia que se todas as pessoas que atendem
       os critérios para serem doadores de sangue no Brasil, doassem sangue duas vezes ao ano de forma espontânea, nossos hemocentros jamais
       sofreriam com escasez de nenhum tipo sanguíneo? Com apenas 450 ml de sangue você pode se tornar o herói de várias vidas! </p>


</body>
</html>